<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastering JWT</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/jwt-3.svg" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Ninja Smoothies</a></h1>
      <div class="nav-buttons">
        <button>
          <a href="/signup">Sign Up</a>
        </button>
        <button>
          <a href="/login">Login</a>
        </button>
      </div>
    </nav>
  </body>
</html>
