<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastering Authenication With JWT</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/jwt-3.svg" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Ndung'u Smoothies</a></h1>
      <div class="nav-buttons">
        <% if (user) { %>
        <button class="user">Welcome <%= user.email %></button>
        <button class="logout"><a href="/logout">Log out</a></button>
        <% } else { %>
        <button class="signup"><a href="/signup">Sign Up</a></button>
        <button class="login"><a href="/login">Login</a></button>
        <% } %>
      </div>
    </nav>
  </body>
</html>
